<!doctype html>

<html>

<head>
    <title>Broadband Testing Homepage</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>PAgCASA</h1>

    <h2>Map Page</h2>

    <iframe width="450" height="250" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view
?key=<INSERT API KEY HERE>
&center=-33.8569,151.2152
&zoom=18
&maptype=satellite
" allowfullscreen>
    </iframe>





</body>

</html>